<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <style>
        body {
           
            text-align: center;
        }


        a {
            color: black;
        }

        table {
            width: 50%;
            height: 0%;
            text-align: left;
            border-collapse: collapse;
        }

        .table {
            margin-top: 25px;

        }

        tr {
            text-align: center;
            display: inline;
        }

        th,
        td{
            padding: 8px;
            text-align: left;
          border: none;
        }
    
    </style>

</head>
<script>
    var m = angular.module("MyApp", []);

    m.controller("MyController", ["$scope", function ($scope) {
        $scope.selectedObj = {};


        $scope.levis = [{
            otherValue1: 'https://origin1.levi-site.com/US/en_US/',
            otherValue2: 'https://origin1.levi-site.com/CA/en_CA/',
            otherValue3: 'https://origin1.levi-site.com/GB/en_GB/'
        }];
        $scope.dockers = [{
            otherValue1: 'https://origin1.dockers-site.com/US/en_US/',
            otherValue2: 'https://origin1.dockers-site.com/CA/en_CA/',
            otherValue3: 'https://origin1.dockers-site.com/GB/en_GB/'
        }];
    }]);

    
</script>
<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "block") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<body>
    <div class="container" ng-app="MyApp" ng-controller="MyController" style=" background-color: lightblue; margin-top: 50px;">
        <div style="margin:70px;">
            <center>
                <h1 style="font-family: initial;font-size:40px;margin-bottom:15px;">Select a brand:</h1>
            </center>
            <span ng-repeat="l in levis">
               <label for="Levis" style="font-family: initial;font-size: 25px;">Levis</label>&nbsp;
                <input type="radio" ng-model="$parent.selectedObj" ng-value="l" onclick="myFunction()">
            </span>
            <span ng-repeat="d in dockers">
                &nbsp; &nbsp;
               <label for="Dockers" style="font-family: initial;font-size: 25px;">Dockers</label>&nbsp;
                <input type="radio" ng-model="$parent.selectedObj" ng-value="d" onclick="myFunction()">
            </span>

            <div class="center" style="margin-top: 20px" id="myDIV">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <input type="text" class="form-control" ng-model="main.searchInput" placeholder="Enter Text">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <table class="table" id="m">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{{selectedObj.otherValue1}}{{main.searchInput}}">{{selectedObj.otherValue1}}{{main.searchInput}}</a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{{selectedObj.otherValue2}}{{main.searchInput}}">{{selectedObj.otherValue2}}{{main.searchInput}}</a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{{selectedObj.otherValue2}}{{main.searchInput}}">{{selectedObj.otherValue3}}{{main.searchInput}}</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
</div>

        </div>
</body>

</html>
